@use '../abstracts' as *;

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: $font-family-base;
  font-size: 12px;
  font-weight: $font-weight-semibold; // 600
  line-height: 15px;
  color: $neutral-550;

  &__link {
    color: inherit;
    text-decoration: none;
    transition: $transition-base;

    &:hover {
      color: $brand-primary;
    }

    &::after {
      content: "/";
      margin: 0 4px;
      color: inherit;
      display: inline-block;
    }
  }

  &__current {
    color: inherit;
  }
}
