@use '../abstracts' as *;

.nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 60px;
  overflow: hidden;
  padding: $spacing-xl $spacing-lg;

  background-color: transparent;
  border: $border-width solid $brand-primary;
  border-radius: $radius-md;

  cursor: pointer;
  transition: $transition-base;
  color: $brand-primary;

  &:hover {
    background-color: $btn-primary-hover;
    color: $white;
    border-color: $btn-primary-hover;
  }

  // Click/Tab
  &:active,
  &:focus-visible {
    background-color: $btn-primary;
    border-color: $btn-primary;
    color: $white;
  }

  &:disabled {
    background-color: $btn-disabled;
    border-color: $btn-disabled;
    cursor: not-allowed;
    color: $white;
  }
}
