@use '../abstracts' as *;

.product-slider {
  &.swiper {
    position: relative;
    overflow: hidden;
    margin: 0 40px;

    @include breakpoint((max: $breakpoint-tablet)) {
      margin: 0 0 0 16px;
    }
  }

  .swiper-wrapper {
    align-items: stretch;
  }

  .swiper-slide {
    height: auto;

    @include breakpoint((max: $breakpoint-laptop)) {
      margin-right: 12px !important;
    }
  }

  &__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    height: 60px;
    margin-top: 24px;

    @include breakpoint((max: $breakpoint-laptop)) {
      height: 40px;
      gap: 16px;
    }

    @include breakpoint((max: $breakpoint-tablet)) {
      display: none;
    }
  }

  &__btn {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 40px;
 
    border-radius: 8px;
    cursor: pointer;
    transition: all $transition-base;
    
 
    // Active state (default styling)
    background: $blue-900;
    border: 1px solid transparent; // transparent to prevent layout shift
    color: $white;

    svg {
      width: 40px;
      height: 24px;
      stroke: currentColor;
      transition: color $transition-base;

      @include breakpoint((max: $breakpoint-laptop)) {
        width: 24px;
        height: 16px;
      }
    }

    &:hover:not(.swiper-button-disabled) {
      background: $blue-800; // slightly lighter on hover
    }

    // Inactive state
    &.swiper-button-disabled {
      background: $white;
      border: 1px solid $blue-900;
      color: $blue-900;
      cursor: default;
    }
  }
}
