@use 'sass:math';
@use '../abstracts' as *;

@keyframes skeleton-shimmer {
  100% {
    transform: translateX(100%);
  }
}

%skeleton-animation {
  position: relative;
  overflow: hidden;
  background-color: #DEE2E6;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba(#DEE2E6, 0) 0%,
      rgba(#ffffff, 0.4) 20%,
      rgba(#ffffff, 0.6) 60%,
      rgba(#DEE2E6, 0) 100%
    );
    animation: skeleton-shimmer 1.5s infinite;
  }
}

$base-card-width: 322;

@function cqw($px) {
  @return math.div($px, $base-card-width) * 100cqw;
}

.product-card-container,
.product-slider .swiper-slide {
  container-type: inline-size;
  container-name: product-card;
  width: 100%;
  height: 100%;
}

.product-card {
  position: relative;
  width: 100%;
  
  background: #F8F9FA;
  border: cqw(1) solid $neutral-350; // #E9ECEF
  border-radius: cqw(8);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding:  cqw(16);
  transition: box-shadow $transition-base;
  
  height: 100%; // ensures equal height in a grid row

  &:hover {
    box-shadow: 0 4px 20px rgba(0,0,0,0.05);

    .product-card__title {
      color: #325C9B;
    }
  }

  &__image-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 290 / 390;
    background: #F8F9FA;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-bottom: cqw(22.25);
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__badges {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: cqw(8);
    z-index: 2;
  }

  &__badge {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: cqw(1) cqw(8);
    border-radius: 100px;
    font-family: $font-family-base;
    font-weight: $font-weight-semibold;
    font-size: cqw(10);
    line-height: cqw(13);
    color: $white;

    &--top {
      background: #FFA900;
    }
    &--new {
      background: #0077FF;
    }
    &--sale {
      background: #FF2630;
    }
    &--exclusive {
      background: #8A38F5;
    }
  }

  &__actions {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: cqw(16);
    z-index: 2;
  }

  &__action-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: cqw(40);
    height: cqw(40);
    padding: cqw(8);
    background: transparent;
    border: none;
    color: $blue-900;
    cursor: pointer;
    transition: color $transition-base;

    &:hover {
      color: $brand-primary;
    }

    svg {
      width: cqw(24);
      height: cqw(24);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 0;
    flex-grow: 1;
    gap: cqw(8);
  }

  &__status {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: cqw(18);
    font-family: $font-family-base;
    font-weight: 700;
    font-size: cqw(15);
    line-height: 1.2;
    color: $green-300;
  }

  &__title {
    font-family: $font-family-base;
    font-size: cqw(15);
    font-weight: 600;
    line-height: 1.2;
    color: $neutral-1000;
    margin: 0;
    transition: color $transition-base;
    
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: cqw(36);
    min-height: cqw(36);
  }

  &__link {
    color: inherit;
    text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
  }

  &__meta {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: cqw(14);
    height: cqw(24);
  }

  &__rating,
  &__reviews {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: cqw(6);
    font-family: $font-family-base;
    font-weight: 700;
    font-size: cqw(16);
    line-height: 1.5;
    color: $neutral-1000;
  }

  &__rating-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: cqw(16);
    height: cqw(16);
    
    svg {
      width: cqw(16);
      height: cqw(16);
    }
  }

  &__reviews-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: cqw(16);
    height: cqw(16);
    color: $neutral-700;
  }

  &__price-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-end;
    height: cqw(54);
    width: 100%;
  }

  &__price-current {
    order: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 cqw(8);
    height: cqw(32);
    border-radius: cqw(4);
    font-family: $font-family-base;
    font-weight: 900;
    font-size: cqw(24);
    line-height: 1.2;
    color: $white;
    white-space: nowrap;
    background: $green-300;
  }

  &__price-old {
    order: 1;
    width: 100%;
    height: cqw(18);
    margin-bottom: cqw(4);
    font-family: $font-family-base;
    font-weight: 700;
    font-size: cqw(15);
    line-height: 1.2;
    color: #495057;
  }

  &__cart-btn {
    order: 3;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: cqw(32);
    height: cqw(32);
    padding: cqw(4);
    border-radius: cqw(4);
    background: #102C56;
    border: none;
    color: $white;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: background-color $transition-base;

    &:hover {
      background: #325C9B;
    }

    svg {
      width: cqw(24);
      height: cqw(24);
      fill: currentColor;
    }
  }

  &--preorder {
    .product-card__status {
      color: $blue-700;
    }
    .product-card__price-current {
      background: $blue-700;
    }
  }

  &--sale {
    .product-card__price-current {
      background: #FF2630;
    }
  }

  &--out-of-stock {
    .product-card__status {
      color: $neutral-400;
    }
    
    .product-card__price-current {
      background: $neutral-400;
    }

    .product-card__image {
      opacity: 0.5;
    }
    
    .product-card__title,
    .product-card__rating,
    .product-card__reviews {
      color: $neutral-900;
    }
    
    .product-card__rating-icon {
      color: $neutral-400;
    }
    
    .product-card__reviews-icon {
      color: $neutral-400;
    }
    
    .product-card__cart-btn {
      background: $neutral-400;
      cursor: not-allowed;
      
      &:hover {
        background: $neutral-400;
      }
    }
  }

  &--skeleton {
    cursor: default;
    pointer-events: none;

    .product-card__image-skeleton {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #F8F9FA;
      
      svg {
        width: 100%;
        height: 100%;
        max-width: cqw(214);
        max-height: cqw(390);
        color: #DEE2E6;
        fill: currentColor;
      }
    }

    .product-card__status-skeleton {
      width: cqw(120);
      height: cqw(24);
      border-radius: cqw(4);
      @extend %skeleton-animation;
    }

    .product-card__title-skeleton {
      width: cqw(290);
      height: cqw(24);
      border-radius: cqw(4);
      @extend %skeleton-animation;
    }

    .product-card__rating-skeleton {
      width: cqw(120);
      height: cqw(24);
      border-radius: cqw(4);
      @extend %skeleton-animation;
    }

    .product-card__price-skeleton {
      width: cqw(290);
      height: cqw(24);
      border-radius: cqw(4);
      @extend %skeleton-animation;
    }

    .product-card__btn-skeleton {
      width: cqw(80);
      height: cqw(24);
      border-radius: cqw(4);
      margin-top: auto;
      @extend %skeleton-animation;
    }
  }
}
