@font-face {
  font-family: 'YourFontName';
  src: url('../../assets/fonts/Mont-Regular.woff2') format('woff2'),
  url('../../assets/fonts/Mont-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YourFontName';
  src: url('../../assets/fonts/Mont-Regular.woff') format('woff2'),
  url('../../assets/fonts/Mont-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YourFontName';
  src: url('../../assets/fonts/Mont-SemiBold.woff') format('woff2'),
  url('../../assets/fonts/Mont-SemiBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}