// ============================================
// HEADER LAYOUT
// ============================================

@use "../abstracts" as *;

.header {
  position: sticky;
  top: 0;
  z-index: $z-sticky;
  background-color: $surface-primary;
  border-bottom: $border-width solid $border-secondary;
  &__title {
    @include title-h1;
    color: $neutral-50;
  }
}
